RewriteEngine On

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^localhost
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^localhost
RewriteCond %{HTTP_HOST} ^(.*)id523a\.(net|me) [NC]
RewriteRule ^/?(.*) https://%1id523a.com/$1 [R=301,NE]

RewriteRule ^([A-Za-z0-9]+)$ ?p=$1 [L]

ErrorDocument 404 https://id523a.com/?p=error404&e=1
ErrorDocument 403 https://id523a.com/?p=error403&e=1
<FilesMatch "README\.md">
        Order Deny,Allow
        Deny from all
</FilesMatch>