* {
	font-family:'Open Sans', Arial, sans-serif;
	line-height:1.6em;
}

a[href] {
	text-decoration:none;
}

h1 {
	font-size:2.3em;
}

h2 {
	font-size:1.3em;
}

body {
	background-color:#EEEEFF;
}

.thumbnail {
	border:5px white solid;
	border-radius:10px;
	width:250px;
	max-width:95%;
}

.icon {
	border:none;
	border-radius:0px;
	width:3em;
	height:3em;
	margin:0.2em 0.6em 0.2em 0.2em;
}

.nospam {
	height:1.389em;
}

.iconGroup {
	display:inline-block;
}


.mainContainer {
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	max-width:80em;
}

h1,h2 {
	color:#333333;
}

.header {
	background-color:#336699;
	padding:1em 2em;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
}

.header * {
	color:white;
}

.content {
	padding:1em 2em;
}

.content .imgScroll {
	max-width:100%;
	overflow:auto;
}

.imgScroll img {
	max-width:300%;
	height:auto;
}

.bio {
	flex-grow:0;
	margin-left:1em;
	margin-right:1em;
}

.bio h1 {
	text-align:center;
	margin:0;
}

.mediaLinks {
	flex-grow:0;
	margin-left:1em;
	margin-right:1em;
}

.mediaLink {
	display:block;
	background-color:white;
	width:250px;
	padding:1px 3px 1px 6px;
	margin-top:6px;
	margin-bottom:6px;
	border-left:4px darkblue solid;
	color:black;
	text-decoration:none;
	border-radius:8px;
}

.mediaLink:hover {
	background-color:#EEEEEE;
}

.mediaLink * {
	vertical-align:middle;
}

.thinPane {
	background-color:white;
	padding:1.4em 2.5em 1em 2.5em;
}

.centerContainer {
	text-align:center;
}

.centerContent {
	display:inline-block;
}

.pdfDownload {
	display:block;
	background-color:#336699;
	width:10em;
	padding:0.5em 1em;
	color:white;
	font-weight:bold;
	border-radius:8px;
	text-align:center;
	border-right:2px black solid;
	border-bottom:2px black solid;
	text-decoration:none;
}

.pdfDownload:hover {
	background-color:#6699CC;
}

.pdfErrorDisplay {
	display:block;
	padding:0.5em 1em;
}

.hide {
	display:none;
}

@media screen and (max-width: 440px) {
	body {
		font-size:0.88em;
	}
	.mediaLink {
		width:220px;
	}
}