* {
	font-family:'Open Sans', Arial, sans-serif;
	line-height:1.6em;
}

a[href] {
	text-decoration:none;
}

h1 {
	font-size:2.3em;
}

h2 {
	font-size:1.3em;
}

body {
	background-color:#EEEEFF;
}

.thumbnail {
	border:5px white solid;
	border-radius:10px;
	width:250px;
	max-width:95%;
}

.icon {
	border:none;
	border-radius:0px;
	width:2.5rem;
	height:2.5rem;
	margin:0.2rem 0.6rem 0.2rem 0.2rem;
}

.nospam {
	height:1.389em;
}

.iconGroup {
	display:inline-block;
}


.mainContainer {
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	max-width:80rem;
}

h1,h2 {
	color:#333333;
}

.header {
	background-color:#336699;
	padding:1rem 2rem;
	display:flex;
	align-items:center;
	flex-direction:column;
}

.header * {
	color:white;
}

.header h1 {
	width:100%;
	max-width:36rem;
	margin:0;
}

.content {
	padding:1rem 2rem;
}

.content .imgScroll {
	max-width:100%;
	overflow:auto;
}

.imgScroll img {
	max-width:300%;
	height:auto;
}

.mediaLinks {
	margin-left:1rem;
	margin-right:1rem;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	max-width:36rem;
}

.mediaLink {
	display:block;
	background-color:white;
	width:16rem;
	padding:1px 3px 1px 6px;
	margin:6px 6px;
	border-left:4px darkblue solid;
	color:black;
	text-decoration:none;
	border-radius:8px;
	flex-grow:0;
}

.mediaLink:hover {
	background-color:#EEEEEE;
}

.mediaLink * {
	vertical-align:middle;
}

.thinPane {
	background-color:white;
	padding:1.4rem 2.5rem 1rem 2.5rem;
}

.centerContainer {
	text-align:center;
}

.centerContent {
	display:inline-block;
}

.pdfDownload {
	display:block;
	background-color:#336699;
	width:10rem;
	padding:0.5rem 1rem;
	color:white;
	font-weight:bold;
	border-radius:8px;
	text-align:center;
	border-right:2px black solid;
	border-bottom:2px black solid;
	text-decoration:none;
}

.pdfDownload:hover {
	background-color:#6699CC;
}

.pdfErrorDisplay {
	display:block;
	padding:0.5rem 1rem;
}

.hide {
	display:none;
}

@media screen and (max-width: 440px) {
	body {
		font-size:0.88em;
	}
	.mediaLink {
		width:220px;
	}
}